mat-form-field {
    display: block;
    margin: 10px;
}

.button-container {
    display: flex;
    justify-content: center;
    .button {
        margin-left: 10px;
        margin-right: 10px;
    }
}