<form
  [formGroup]="contactForm"
  (ngSubmit)="$event.preventDefault(); createContact()"
>
  <div class="input-container">
    <div class="input-field-container">
      <input
        class="input-field"
        placeholder="Name*"
        formControlName="nameField"
        name="name"
      />
      <label class="input-label" for="name">Enter name*:</label>
      <span class="input-highlight"></span>
    </div>
    <div *ngIf="invalid(fields.nameField)" class="input-errors">
      {{ getMessage(fields.nameField) }}
    </div>
  </div>
  <div class="input-container">
    <div class="input-field-container">
      <input
        class="input-field"
        placeholder="Surname*"
        formControlName="surnameField"
        name="surname"
      />
      <label class="input-label" for="surname">Enter surname*:</label>
      <span class="input-highlight"></span>
    </div>
    <div *ngIf="invalid(fields.surnameField)" class="input-errors">
      {{ getMessage(fields.surnameField) }}
    </div>
  </div>
  <div class="input-container">
    <div class="input-field-container">
      <input
        class="input-field"
        placeholder="Phone number*"
        formControlName="phoneNumberField"
        name="phoneNumber"
      />
      <label class="input-label" for="phoneNumber">Enter phone number*:</label>
      <span class="input-highlight"></span>
    </div>
    <div *ngIf="invalid(fields.phoneNumberField)" class="input-errors">
      {{ getMessage(fields.phoneNumberField) }}
    </div>
  </div>
  <div class="input-container">
    <div class="input-field-container">
      <input
        class="input-field"
        placeholder="Birth date* MM/DD/YYYY"
        formControlName="birthDateField"
        name="birthDate"
        [matDatepicker]="picker"
      />
      <label class="input-label" for="birthDate">Enter birth date*:</label>
      <span class="input-highlight"></span>
      <mat-datepicker-toggle
        matIconSuffix
        [for]="picker"
        class="datepicker-toggle"
      ></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </div>
    <div *ngIf="invalid(fields.birthDateField)" class="input-errors">
      {{ getMessage(fields.birthDateField) }}
    </div>
  </div>
  <div class="input-container">
    <div class="input-field-container">
      <input
        class="input-field"
        placeholder="Email*"
        formControlName="emailField"
        name="email"
      />
      <label class="input-label" for="email">Enter email*:</label>
      <span class="input-highlight"></span>
    </div>
    <div *ngIf="invalid(fields.emailField)" class="input-errors">
      {{ getMessage(fields.emailField) }}
    </div>
  </div>
  <div class="input-container">
    <div class="input-field-container">
      <input
        class="input-field"
        placeholder="Address*"
        formControlName="addressField"
        name="address"
      />
      <label class="input-label" for="address">Enter address*:</label>
      <span class="input-highlight"></span>
    </div>
    <div *ngIf="invalid(fields.addressField)" class="input-errors">
      {{ getMessage(fields.addressField) }}
    </div>
  </div>
  <div class="button-container">
    <button class="button" type="submit">Create</button>
  </div>
</form>
